**/.gitignore
**/.prettierrc.json
**/phpstan.neon
**/phpunit.xml
**/pint.json
**/bootstrap/cache/*.php
**/!bootstrap/cache/.gitignore
**/node_modules/
**/public/build
**/public/hot
**/storage/logs/*
**/storage/framework/cache/*
**/storage/framework/sessions/*
**/storage/framework/views/*
**/tests/
**/vendor/
!**/resources/views/vendor/
!**/resources/views/vendor/**

.git
.direnv/
.github/
.vscode/
.cz.toml
.env
.env.*
!.env.example
.envrc
.gitattributes
CHANGELOG.md
crowdin.yml
eslint.config.js
justfile
lefthook.yml
LICENSE
README.md
.DS_Store
Thumbs.db
