{
	skip_install_trust

	log {
		format console
	}

	frankenphp
}

{$SERVER_NAME:":8000"} {
	root public/

	header /build/sw.js Service-Worker-Allowed "/"

	encode zstd br gzip

	php_server {
		try_files {path} index.php
	}
}
