@import "@fontsource-variable/nunito";

@import "tailwindcss";
@import "tw-animate-css";

@import "./view-transition.css";

@plugin '@tailwindcss/forms' {
    strategy: "class";
}

@theme {
    /* ------------------------------- FONTS -------------------------------- */

    --font-*: initial;

    --font-sans:
        "Nunito Variable", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-mono:
        ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
        "Liberation Mono", "Courier New", monospace;

    /* ----------------------------- FONT SIZES ----------------------------- */

    --text-*: initial;

    --text-2xs: 0.625rem;
    --text-2xs--line-height: 1.4;

    --text-xs: 0.75rem;
    --text-xs--line-height: 1.4;

    --text-sm: 0.875rem;
    --text-sm--line-height: 1.4;

    --text-ms: 0.9375rem;
    --text-ms--line-height: 1.4;

    --text-md: 1rem;
    --text-md--line-height: 1.5;

    --text-lg: 1.125rem;
    --text-lg--line-height: 1.5;

    --text-xl: 1.25rem;
    --text-xl--line-height: 1.4;

    --text-2xl: 1.5rem;
    --text-2xl--line-height: 1.4;

    --text-3xl: 1.75rem;
    --text-3xl--line-height: 1.2;

    --text-4xl: 2rem;
    --text-4xl--line-height: 1.2;

    --text-5xl: 3rem;
    --text-5xl--line-height: 1;

    /* ---------------------------- FONT WEIGHTS ---------------------------- */

    --font-weight-*: initial;

    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;
    --font-weight-black: 900;

    /* ------------------------------- COLORS ------------------------------- */

    --color-*: initial;

    --color-white: hsl(38, 85%, 97%);
    --color-yellow: hsl(42, 96%, 67%);
    --color-brand: hsl(20, 91%, 60%);
    --color-red: hsl(10, 77%, 54%);
    --color-green: hsl(140, 52%, 55%);
    --color-peach: hsl(20, 90%, 92%);

    --color-cream-50: hsl(37, 88%, 94%);
    --color-cream-100: hsl(38, 47%, 89%);
    --color-cream-200: hsl(37, 32%, 84%);
    --color-cream-300: hsl(35, 22%, 78%);
    --color-cream-400: hsl(38, 10%, 61%);
    --color-cream-500: hsl(39, 6%, 49%);
    --color-cream-600: hsl(38, 6%, 37%);
    --color-cream-700: hsl(38, 6%, 27%);
    --color-cream-800: hsl(45, 5%, 15%);
    --color-cream-900: hsl(40, 6%, 10%);
    --color-cream-950: hsl(30, 7%, 6%);

    /* --------------------------- BORDER RADIUS ---------------------------- */

    --radius-*: initial;

    --radius-xs: 0.125rem;
    --radius-sm: 0.25rem;
    --radius-md: 0.375rem;
    --radius-lg: 0.5rem;
    --radius-lt: 0.625rem;
    --radius-xl: 0.75rem;
    --radius-2xl: 1rem;
    --radius-3xl: 1.25rem;
    --radius-4xl: 1.5rem;
    --radius-5xl: 1.875rem;

    /* ---------------------------- TRANSITIONS ----------------------------- */

    --default-transition-duration: 150ms;
    --default-transition-timing-function: var(--ease-in-out);
}

@layer base {
    :root {
        color-scheme: light;
        scroll-behavior: smooth;
    }

    body {
        background-color: theme("colors.cream.50");
        color: theme("colors.cream.950");

        /* TODO: remove when tablet/desktop design is ready */
        max-width: var(--breakpoint-sm);
        margin: 0 auto;
    }

    /** Remove yellow/blue autofill indicator */
    input:-webkit-autofill {
        background-clip: text !important;
    }

    button,
    [role="button"] {
        cursor: pointer;
    }

    :is(button, [role="button"]):disabled {
        cursor: default;
    }

    .lucide {
        width: 1em;
        height: 1em;
    }
}
