@keyframes fade-in {
    from {
        opacity: 0;
    }
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}

@keyframes slide-from-right {
    from {
        transform: translateX(30px);
    }
}

@keyframes slide-to-left {
    to {
        transform: translateX(-30px);
    }
}

::view-transition-old(root) {
    animation:
        60ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
        200ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(root) {
    animation:
        140ms cubic-bezier(0, 0, 0.2, 1) 60ms both fade-in,
        200ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}
